<!-- ONE
    
    <app-address-card [user]="defaultUser"></app-address-card>

<app-input-button (submitted)="onSubmit($event)"></app-input-button>
<app-card-list [gitUsers]="gitUsers"></app-card-list> -->

<!-- TWO
<ul>
    <li *ngFor="let route of routes">
        <a [routerLink]="[route.url]">{{ route.linkName }}</a>
    </li>
</ul>

<router-outlet></router-outlet>-->

<!--<app-mission-control></app-mission-control>-->

<app-basic-form></app-basic-form>

<hr>

<app-nested-form></app-nested-form>